//* ---------------------------------- */
//*               FOOTER               */
//* ---------------------------------- */

.link-style {
  a {
    padding: 0.4rem;
    @include transition(1s);
    &:hover {
      color: $hover-color;
    }
  }
}

footer.horizontal {
  // border: 2px solid red;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  @extend .link-style;
}

footer.vertical {
  //   border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  .social-icons {
    writing-mode: vertical-lr;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    @extend .link-style;
  }
  .copyright {
    writing-mode: vertical-lr;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}

footer.middle {
  //   border: 2px solid greenyellow;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
  padding: 1rem;
  gap: 1rem;
  @extend .link-style;
}
