//* ---------------------------------- */
//*              VARIABLES             */
//* ---------------------------------- */

// Colors

$primary-color: #272727;
$secondary-color: #ff652f;
$hover-color: blue;
$text-color: white;

// Fonts

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Path

$pathname1: "../assets/model-1.jpg";
$pathname2: "../assets/project-1.jpg";
$pathname3: "../assets/project-2.jpg";
$pathname4: "../assets/project-3.jpg";
$pathname5: "../assets/project-4.jpg";
$pathname6: "../assets/project-5.jpg";
$pathname7: "../assets/project-6.jpg";
